@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply h-full;
}
body {
  @apply h-full overflow-y-scroll;
}

#__next {
  @apply h-full;
}

.accent-violet {
  --accent-50: 250 100% 98%;
  --accent-100: 251 91% 95%;
  --accent-200: 251 95% 92%;
  --accent-300: 252 95% 85%;
  --accent-400: 255 92% 76%;
  --accent-500: 258 90% 66%;
  --accent-600: 262 83% 58%;
  --accent-700: 263 70% 50%;
  --accent-800: 263 69% 42%;
  --accent-900: 264 67% 35%;
  --accent-950: 261 73% 23%;
}
.accent-teal {
  --accent-50: 166 76% 97%;
  --accent-100: 167 85% 89%;
  --accent-200: 168 84% 78%;
  --accent-300: 171 77% 64%;
  --accent-400: 172 66% 50%;
  --accent-500: 173 80% 40%;
  --accent-600: 175 84% 32%;
  --accent-700: 175 77% 26%;
  --accent-800: 176 69% 22%;
  --accent-900: 176 61% 19%;
  --accent-950: 179 84% 10%;
}
.accent-sky {
  --accent-50: 204 100% 97%;
  --accent-100: 204 94% 94%;
  --accent-200: 201 94% 86%;
  --accent-300: 199 95% 74%;
  --accent-400: 198 93% 60%;
  --accent-500: 199 89% 48%;
  --accent-600: 200 98% 39%;
  --accent-700: 201 96% 32%;
  --accent-800: 201 90% 27%;
  --accent-900: 202 80% 24%;
  --accent-950: 204 80% 16%;
}
.accent-lime {
  --accent-50: 78 92% 95%;
  --accent-100: 80 89% 89%;
  --accent-200: 81 88% 80%;
  --accent-300: 82 85% 67%;
  --accent-400: 83 78% 55%;
  --accent-500: 84 81% 44%;
  --accent-600: 85 85% 35%;
  --accent-700: 86 78% 27%;
  --accent-800: 86 69% 23%;
  --accent-900: 88 61% 20%;
  --accent-950: 89 80% 10%;
}
.accent-pink {
  --accent-50: 327 73% 97%;
  --accent-100: 326 78% 95%;
  --accent-200: 326 85% 90%;
  --accent-300: 327 87% 82%;
  --accent-400: 329 86% 70%;
  --accent-500: 330 81% 60%;
  --accent-600: 333 71% 51%;
  --accent-700: 335 78% 42%;
  --accent-800: 336 74% 35%;
  --accent-900: 336 69% 30%;
  --accent-950: 336 84% 17%;
}
